<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="container">
      <div class="slider-wrapper">
        //to hold all the images
        <div class="slider">
          <img
            src="C:\Users\JTS2\dental-template-reactjs 7.25.2023 backup\public\Images\abstract-blur-hospital-clinic-interior.jpg"
            alt=""
            srcset=""
            id="slide1"
          />
          <img
            src="C:\Users\JTS2\dental-template-reactjs 7.25.2023 backup\public\Images\abstract-blur-hospital-clinic-interior.jpg"
            alt=""
            srcset=""
            id="slide2"
          />
          <img
            src="C:\Users\JTS2\dental-template-reactjs 7.25.2023 backup\public\Images\abstract-blur-hospital-clinic-interior.jpg"
            alt=""
            srcset=""
            id="slide3"
          />
          <div class="slider-nav">
            <a href="#slider-1"></a>
        <a href="#slider-2"></a>  
        <a href="#slider-3"></a>
        
        </div>
        </div>
      </div>
    </section>
  </body>
</html>
